.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #FFFEFA;
  margin-top: 10px;
}

